@charset "UTF-8";

/* 回答はここに書いてね */
input, textarea, button, select {
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  font-size: 16px;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input__box {
  font-size: 0;
  text-align: center;
}

.test__input {
  display: inline-block;
  margin: 10px;
  font-size: 16px;
  vertical-align: middle;
}

.input__text {
  padding: 5px;
  border: 1px solid #00bcd4;
  border-radius: 5px;
}

.input__text::-webkit-input-placeholder {
  color: #00bcd4;
}

.input__text:focus {
  padding: 5px;
  border: 1px solid #00bcd4;
  border-radius: 5px;
  box-shadow: 0px 0px 10px #00bcd4;
}

.textarea {
  height: 40px;
  padding: 5px;
  border: 1px solid #00bcd4;
  border-radius: 5px;
  resize: none;
}


.radio {
  display: none;
}

.radio__btn {
  position: relative;
  padding: 0 0 0 20px;
}

.radio__btn:after, .radio__btn:before {
  position: absolute;
  content: "";
  display: block;
  top: 50%;
}

.radio__btn:after {
  left: 0px;
  margin-top: -8px;
  width: 14px;
  height: 14px;
  border: 1px solid #ccc;
  border-radius: 50%;
}

.radio__btn:before {
  left: 3px;
  margin-top: -5px;
  width: 10px;
  height: 10px;
  background: #00bcd4;
  border-radius: 50%;
  opacity: 0;
}

input[type=radio]:checked + .radio__btn:before {
  opacity: 1;
}

.radio__btn:hover:after {
  cursor: pointer;
}

.checkbox {
  display: none;
}

.check__btn {
  position: relative;
  padding: 0 0 0 20px;
}

.check__btn:after, .check__btn:before {
  position: absolute;
  content: "";
  display: block;
  top: 50%;
}

.check__btn:after {
  left: 0px;
  margin-top: -8px;
  width: 14px;
  height: 14px;
  border: 1px solid #ccc;
}

.check__btn:before {
  left: 3px;
  margin-top: -5px;
  width: 12px;
  height: 5px;
  border-bottom: 2px solid #00bcd4;
  border-left: 2px solid #00bcd4;
  transform: rotate(-45deg);
  opacity: 0;
}

input[type=checkbox]:checked + .check__btn:before {
  opacity: 1;
}

.select__btn {
  position: relative;
  background-color: #fff;
}

.select {
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px 30px 5px 5px;
}

.select__btn:before {
  position: absolute;
  content: "";
  display: block;
  top: 40%;
  right: 10px;
  margin-top: -5px;
  width: 8px;
  height: 8px;
  border-bottom: 2px solid #ccc;
  border-left: 2px solid #ccc;
  transform: rotate(-45deg);
}

.button {
  padding: 5px 10px;
  color: #00bcd4;
  border: 1px solid #00bcd4;
  border-radius: 5px;
}

.button:active {
  padding: 5px 10px;
  color: #fff;
  background-color: #00bcd4;
  border: 1px solid #00bcd4;
  border-radius: 5px;
}

.button:hover {
  cursor: pointer;
}
/* 回答はここに書いてね */
