@charset "UTF-8";

/* 回答はここに書いてね */
.main__box {
  margin: 0 auto;
  width: 900px;
  padding: 20px;
  background-color: #eff3f4;
}

.contents__box p {
  font-size: 18px;
  line-height: 22px;
  word-break: break-all;
}

.top__pic {
  float: left;
  margin: 0 20px 10px 0;
}

.bottom__pic {
  float: right;
  margin: 0 0 10px 20px;
}

/* 回答はここに書いてね */
